#include "resource.h"

IDR_MENU MENU
BEGIN
    POPUP "&Options"
    BEGIN
        MENUITEM "&Set Ranges (Ctrl+R)", ID_OPTIONS_SETRANGES
        MENUITEM "&Reset Ranges (Ctrl+Shift+R)", ID_OPTIONS_RESETRANGES
        MENUITEM "Toggle A&xes (Ctrl+X)", ID_OPTIONS_TOGGLEAXES
        MENUITEM "Toggle Showing &Coords (Ctrl+C)", ID_OPTIONS_TOGGLECOORDS
        MENUITEM "Toggle &Limits (Ctrl+L)", ID_OPTIONS_TOGGLELIMITS
    END
END

IDD_SETRANGES DIALOGEX 0, 0, 180, 120
CAPTION "Set Ranges"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "xMin:", -1, 10, 10, 40, 10
    EDITTEXT        IDC_XMIN, 60, 10, 100, 12
    LTEXT           "xMax:", -1, 10, 30, 40, 10
    EDITTEXT        IDC_XMAX, 60, 30, 100, 12
    LTEXT           "yMin:", -1, 10, 50, 40, 10
    EDITTEXT        IDC_YMIN, 60, 50, 100, 12
    LTEXT           "yMax:", -1, 10, 70, 40, 10
    EDITTEXT        IDC_YMAX, 60, 70, 100, 12
    DEFPUSHBUTTON   "OK", 1, 40, 100, 50, 14
    PUSHBUTTON      "Cancel", 2, 100, 100, 50, 14
END